# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# Database (NeonDB PostgreSQL)
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# UploadThing (Token from dashboard)
UPLOADTHING_TOKEN=

# Google Generative AI (Gemini)
GOOGLE_API_KEY=
